body
{
    margin: 0%;
    background-color: #d9d9d9;
}
* 
{
    box-sizing: border-box;
}
header
{
    padding: 40px;
    text-align: center;
    background-color: #6b8bc7;
    color: white;
    border-bottom: 3px solid #333;
}
header h1
{
    font-size: 40px;
    width: auto;
}
.title
{
    font-size: 20px;
}
article
{
    padding: 10px;
    position: relative;
    left: 35%;
    top: 120px;
    width: 30%;
    height: auto;
    border-radius: 5px;
    animation: BorderStyle 4s infinite;
    text-align: center;
    background-color: #fff;
}
h2
{
    font-size: 30px;
    font-weight: 900;
    color: #6b8bc7;
}
.SpanH2
{
    text-decoration: underline;
}
form
{
    font-size: 18px;
    line-height: 40px;
}
input[type=text]
{
    width: 60%;
    height: 30px;
    border: #d9d9d9 solid 1px;
    border-radius: 5px;
    text-align: center;
    animation: BorderStyle 4s infinite;
}
.ButtonSearch
{
    width: 30%;
    height: 30px;
    text-align: center;
    background-color: #6b8bc7;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #fff;
}
.ButtonSearch:hover
{
    background-color: #fff;
    color: #6b8bc7;
    border-radius: 7px;
    border: 1px solid #6b8bc7;   
}
.TitleDiv
{
    padding-top: 20px;
    color: #6b8bc7;
    text-decoration: underline;
}
.JsAlert
{
    position: fixed;
    bottom: 490px;
    left: 35%;
    height: auto;
    width: 30%;
    background-color: #fff;
    color: #000;
    padding: 10px;
    border: #f1f1f1 solid 1px;
    border-radius: 5px;
    display: none;
}
hr
{
    border: 0.5px solid #6b8bc7;
}
.JsAlertP
{
    padding-top: 10px;
    text-align: center;
}
.ImagAlert
{
    width: 30%;
    height: 30%;
}
.ErrorMsgAlert
{
    color: red;
    font-size: 17px;
}
.TitleAlertRight
{
    float: right;
}
@keyframes BorderStyle
{
    0%{border: 1px solid #edf1f8;}
    25%{border: 2px solid #b6c6e2;}
    50%{border: 2px solid #7f9ccc;}
    75%{border: 3px solid #4973b6;}
    100%{border: 3px solid #34517f;}
}